@model LoginVM
<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <form method="post">
                        <div class="login-form">
                            <h4 class="login-title">Login</h4>
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-md-12">
                                    <label for="UserNameOrEmail">UserName or Email</label>
                                    <input asp-for="UserNameOrEmail" placeholder="UserName or Email" />
                                    <span asp-validation-for="UserNameOrEmail"></span>
                                </div>
                                <div class="col-md-12">
                                    <label for="Password">Password</label>
                                    <input asp-for="Password" placeholder="Password" />
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="col-md-12 d-flex gap-2">
                                    <label for="IsPersistent">Remember Me</label>
                                    <input asp-for="IsPersistent" />
                                    <span asp-validation-for="IsPersistent"></span>
                                </div>
                                
                                <div class="col-12">
                                    <button class="btn btn-custom-size lg-size btn-pronia-primary">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->